@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,200;1,200&family=Roboto:wght@300&display=swap');
*{
  box-sizing: border-box;
}
head{
  margin: 0;
}
  nav {
    background-color: rgb(7, 7, 22);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
  }
  nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
  }
  nav ul li a{
    display: inline-block;
    padding: 15px 70px;
    font-family: 'Kanit';
    color: white;
    text-decoration: none;
  }
  nav ul li a:hover{
    text-decoration: underline;
    background-color: rgb(133, 92, 40);
  }
  h1{
    margin: 0;
    padding: 0;
    display: block;
    font-weight: bold;
    top: 1000px;
    font-size: 30px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .div1 img h1 h2{
    top: 0;
    margin: 0;
    padding: 0;
   
  }
  .div1 h1{
    font-size: 20px;
    padding-top: 580px;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  .div1 h2{
    font-size: 18px;
    text-align: right;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(100, 100, 100);
  }
  .div2 h1{
    font-size: 30px;
    color: black;
    text-align: left;
    padding-top: 570px;
  }
  .div2 h2{
    color: rgb(87, 87, 87);
  }
  .div3 h1{
    font-size: 30px;
    text-align: right;
    padding-top: 570px;
  }
  .div3 h2{
    color: rgb(61, 62, 62);
    text-align: right;
  }
