@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,200;1,200&family=Roboto:wght@300&display=swap');
*{
  box-sizing: border-box;
}
html{
  background-color: rgb(207, 211, 103);
 
}
body{
  margin: 0;
}
 
head{
  margin: 0;
}
  nav {
    background-color: rgb(7, 7, 22);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
  }
  nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
  }
  nav ul li a{
    display: inline-block;
    padding: 15px 70px;
    font-family: 'Kanit';
    color: white;
    text-decoration: none;
  }
  nav ul li a:hover{
    text-decoration: underline;
    background-color: rgb(133, 92, 40);
  }
  h1{
    margin: 0;
    padding: 0;
    display: block;
    font-weight: bold;
    top: 1000px;
    font-size: 30px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .div1 img{
    top: 0;
    margin: 0;
    padding: 0;
   
  }
  .div1 h1{
    font-size: 20px;
    padding-top: 530px;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  .div1 p{
    font-size: 20px;
    text-align: right;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(100, 100, 100);
  }
  .div2 h1{
    font-size: 30px;
    color: black;
    text-align: left;
    padding-top: 570px;
  }
  .div2 h2{
    font-size: 25px;
    text-align: left;
    color: rgb(87, 87, 87);
  }
  .div3 h1{
    font-size: 30px;
    text-align: right;
    padding-top: 570px;
  }
  .div3 p{
    font-size: 25px;
    color: rgb(61, 62, 62);
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .div4 h1{
    font-size: 25px;
    text-align: center;
    padding-top: 38px;
  }
  .div4 p{
    color: rgb(53, 51, 53);
    text-align: center;
    font-size: 25px;
  }
.div7 h2{
  text-align: center;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.div5 h1{
  font-size: 25px;
  text-align: left;
  padding-top: 450px;
}
.div5 h2{
  font-size: 20px;
  text-align: left;
  color: rgb(45, 46, 46);
}
.div6 h1{
  font-size: 20px;
  text-align: right;
  padding-top: 600px;
  
}
.div6 p{
  font-size: 20px;
  color: rgb(46, 46, 47);
  text-align: right;
}
.picture{
  flex-wrap: wrap;
  flex-direction: row;
  padding: 50px;
}
.picture img{
  width: 450px;
  height: 450px;
}
h3{
  color: blue;
  font-size: 50px;
}
.about h1, h2{
  display: flex;
  flex-direction: row;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.div8 h1{
  font-size: 25px;
  text-align: left;
  padding-top: 10px;
}
.div8 p{
  font-size: 25px;
  color: rgb(83, 82, 80);
}
.div9 h1{
  font-size: 25px;
  text-align: right;
  padding-top: 620px;
}
.div9 p{
  color: rgb(27, 27, 27);
  font-size: 23px;
  text-align: right;
}
.you{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.you p{
  font-size: 20px;
  color: rgb(48, 48, 46);
}
.div10{
  padding: 15px;
}
.div12 h1{
 text-align: center;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 25px;
}
.div12 p{
text-align: center;
font-size: 25px;
color: rgb(37, 37, 38);
}